.App {
  display: flex;
  justify-content: center;
}

.FormContainer {
  background-color: #7cabb8;

  margin-top: 100px;
  width: 500px;
}
.FormContent {
  display: flex;
  justify-content: center;
}

form {
  width: 500px;
  padding: 20px;
}
.TeamContainer {
}
